<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>abdulwahab</title>
</head>
<body>
    <center>

        <h1>Hello coding world</h1>
        <p>I'm Abdul-Wahab, student at HiiT, Kano</p>
        <p>This is my first Django Web App</p>
        <p>And its live!</p>
        <p><i>ridwonwahab@gmail.com</i></p>
        <p><u>0703-277-6197</u></p>

    </center>
    <div>
        <h4><li>Check out these:</li></h4>
        <ol>
            <li><a href="http://127.0.0.1:8000/home/">home_page</a></li>
            <li><a href="http://127.0.0.1:8000/index/">index_page</a></li>  
            <li><a href="http://127.0.0.1:8000/shop_detail/">shop-detail</a></li>
            <li><a href="http://127.0.0.1:8000/shop_listing/">shop-listing</a></li>

        </ol>
    </div>
    
</body>
</html>